{% extends 'base.html.twig' %}
{% block title %}Form{% endblock %}

{% block body %}
    <h1 class="d-flex align-items-center justify-content-between">
        Categorias! ✅
        <a href="{{ path('register_category') }}" class="btn btn-dark btn-sm">Crear Categoría</a>
    </h1>

    <table class="table table-striped table-bordered table-hover">
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td class="text-end"><a href="{{ path('register_category', {id:category.id}) }}">Editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}