<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Symfony/Form</a>

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('categories_index') }}">Categorías</a>
            </li>
        </ul>
    </div>
</nav>