{% extends 'base.html.twig' %}

{% block title %}Hello PostController{% endblock %}

{% block body %}
    <h1>Edit Post! ✅</h1>

    {{ form(form, {'attr' : {'novalidate':'novalidate'}} ) }}
{% endblock %}



